@import 'componentes/header';
@import 'componentes/footer';
@import 'base/listas';
@import 'base/mapas';
@import 'base/colors';
@import 'base/extends';
@import 'base/operaciones';
@import 'base/mixins';

.flexBox{display: flex; justify-content: center;;
    div{
        img{
            div{
                img{
                    div{
                        img{
                            color: black;
                        }
                    }
                }
            }
        }
    }
}

.olz{
    display: flex; justify-content: center;
    background-color: red;
    margin: 10px;
    padding: 10px;
}

