/* Nos permite crear paquetes de propiedades */

/* placeholder = % + nombre {} */


%mensaje{
    border-radius: 15px;
    padding: 10px;
    border: 1px solid black;

}

.olz{
    background-color: red;
    @extend %mensaje
}

